@charset "UTF-8";


/* 共通項 */
body h1,
h2,
h3,
h4,
ul,
p,
dl,
dd,
dt {
  margin: 0;
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  color: #1c1c1c;
  line-height: 1.8;
  background-color: #ffffff;
  font-family: 'Ubuntu', 'Noto Sans JP', sans-serif;
  letter-spacing: 0.02em;
}

body a {
  text-decoration: none;
  color: #1c1c1c;
}

img {
  vertical-align: bottom;
}

.inner {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 3rem;
  width: 20%;
  text-align: center;
  margin-bottom: 4%;
  margin-left: 10%;
  padding-right: 2%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #5c5e53;
}


.pc {
  display: block;
}

.sp {
  display: none;
}

/* ----- ここからフェードイン ----- */

.animation {
  opacity: 0;
  transition: opacity 1s, transform 2s;
  transform: translateY(40px);
}

.animation_2 {
  opacity: 0;
  transition: opacity 1s, transform 2s;
  transform: translateY(50px);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.animation-left {
  opacity: 0;
  transition: opacity 2s, transform 3s;
  transform: translate(100px, 0);
}

.animation-left2 {
  opacity: 0;
  transition: opacity 2s, transform 3s;
  transform: translate(100px, 0);
}

.active-left {
  opacity: 1;
  /* 表示させる */
  transform: translate(0, 0);
  /* 位置を最初の位置に戻す */
}

.animation-right {
  opacity: 0;
  transition: opacity 2s, transform 3s;
  transform: translate(-100px, 0);
}

.animation-right2 {
  opacity: 0;
  transition: opacity 2s, transform 3s;
  transform: translate(-100px, 0);
}

.active-right {
  opacity: 1;
  /* 表示させる */
  transform: translate(0, 0);
  /* 位置を最初の位置に戻す */
}


/* ----- ここまでフェードイン ----- */


/* ここからヘッダー */

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  right: 0;
  text-align: center;
}

header ul {
  height: 8vh;
  line-height: 8vh;
  display: flex;
  justify-content: flex-end;
}

header ul li {
  margin-right: 5%;
  color: #1c1c1c;
}

header ul li a {
  letter-spacing: 0.05em;
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1c1c1c;
}

header ul li a:hover{
  text-decoration: underline;
}

header ul li:first-of-type {
  margin-bottom: 10%;
}

/* ここまでヘッダー */

/* ここからファーストビュー */

main .fv {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-image: url(../images/fv3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
}

main .fv .photo_fv {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

main .fv .photo_fv img {
  width: 100%;
}

main .fv h1 {
  position: absolute;
  height: 14vh;
  text-align: right;
  top: 23%;
  left: 8%;
  font-size: 11rem;
  letter-spacing: 0.02em;
  padding-top: 1%;
  padding-right: 3%;
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}

main .fv .name {
  position: absolute;
  /* width: 80%; */
  font-size: 5rem;
  top: 52%;
  left: 8%;
  text-align: right;
  padding-top: .5%;
  padding-right: 3%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ここまでファーストビュー */

/* ここからabout */

main .about {
  position: relative;
  width: 100%;
}

main .about .profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

main .about .profile .guide {
  width: 50%;
}

main .about .profile .name {
  font-size: 1.4rem;
  margin-bottom: 1em;
  font-weight: 500;
}

main .about .profile .text {
  margin-bottom: 1em;
}

main .about .profile .photo {
  width: 50%;
  text-align: center;
}

main .about .profile .photo img {
  width: 70%;
}

/* ここまでabout */

/* ここからスキル */

main .section-wrapper {
  position: relative;
  width: 100vw;
  padding-bottom: 5%;
}

main .skill {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

main .section-wrapper::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100vw;
  height: 130px;
  background-image: url('../images/kirikae.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  pointer-events: none;
}

main .skill h3 {
  text-align: center;
  margin-bottom: 10%;
  background-color: #949c6b;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 1% 0;
  letter-spacing: 0.03em;
  border-radius: 6px 6px 0px 0px;
}

main .skill .box {
  padding-bottom: 1%;
  background-color: #f8f8f4;
  margin-right: 1%;
  box-shadow: 2px 2px 4px #dadada;
  border-radius:6px;
}

main .skill .box:first-of-type {
margin-left: 1%;
}

main .skill .box .illust {
  margin-bottom: 8%;
  text-align: center;
}

main .skill .box .illust img{
  width: 40%;
  height: auto;
}

main .skill .box p {
  font-size: 0.7rem;
  width: 80%;
  margin: 0 auto;
}

/* ここまでスキル */

/* ここからworks */

main .works {
  position: relative;
  width: 100%;
  /* margin-bottom: 5%; */
  background-color: #f8f8f4;
  padding-top: 10%;
  text-align: center;
}

main .works h3 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1%;
}

main .works h3::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 1.5px;
  background: #000;
  margin-top: 8px;
}

main .works .sns {
  text-align: center;
  padding-bottom: 3%;
}

main .works h4 {
  width: 60%;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  margin: 2% auto 3%;
  color: #fff;
  background-color: #949c6b;
  border-radius: 50px;           /* 角丸 */
  padding: 0.5rem;  
}

main .works .explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto 4%;
}

main .works .explanation .mockup {
  width: 50%;
  margin-right: 15%;
}

main .works .explanation .mockup img {
  width: 60%;
}

main .works .explanation .mockup video {
  width: 60%;
}

main .works .title {
  text-align: center;
  margin-bottom: 2%;
  width: 50%;
  margin-left: 15%;
}

main .works .title p {
  font-size: 0.8rem;
  padding-bottom: 12%;
  color: #949c6b;
} 

main .works .title .text {
  letter-spacing: 0.03em;
  font-size: 0.95rem;
} 

main .works ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 3%;
}

main .works ul:nth-of-type(3) {
  align-items: flex-end;
  padding-bottom:5%;
}

main .works ul li {
  text-align: center;
  width: calc(90% / 4);
  margin-bottom: 1%;
  /* overflow: hidden; */
}

main .works ul:nth-of-type(3) li {
  width: calc(80% / 4);
}

main .works ul li span {
  display: inline-block;
  color: #191919;
  font-size: 0.75rem;
}

main .works .inner li span:first-of-type {
  margin-bottom: 10%;
}

main .works ul li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
  box-shadow: 2px 2px 4px #9ca08d;
}

main .works ul li video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform .4s ease;
  box-shadow: 2px 2px 4px #9ca08d;
}

main .works .cam ul li img {
  width: 100%;
  height: auto;
  object-fit: contain; /* 情報を切らない */
}

main .works .cam::after {
  content: "";
  position: absolute;
  bottom: auto;
  left: 0;
  width: 100vw;
  height: 130px;
  background-image: url('../images/kirikae2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  pointer-events: none;
}

main .works .brand li img {
  height: auto;
}

main .works ul li .mock {
  box-shadow: none;
  aspect-ratio: auto; 
}

main .works .fd {
  background-color: #fff;
  padding-top: 13%;
}

main .works .fd::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 130px;
  left: 0;
  background-image: url('../images/kirikae.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  pointer-events: none;
}

main .works .video {
  padding-top: 13%;
}

main .works .video ul {
  padding-bottom: 0%;
}

main .works .video::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  height: 130px;
  background-image: url('../images/kirikae2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  pointer-events: none;
}

main .works .site {
  background-color: #fff;
    padding-top: 13%;
}

main .works .personal li {
  width: calc(70% / 2);
}

main .works .personal img {
  width: 100%;
  height: auto;
  object-fit: contain; /* 情報を切らない */
  box-shadow: none;
}

main .works ul li img:hover {
  opacity: 0.8;
  filter: brightness(100%);
  transform: scale(1.05);
}

/* ここまでworks */

/* ここからfooter */

footer {
  background-color: #b7bd99;
  color: #fff;
  text-align: center;
}

footer .copy small{
  line-height: 3;
}

/* ここまでfooter */

/* -------- ここからレスポンシブ -------- */

@media screen and (max-width:840px) {
  
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  /* ファーストビュー */

  main .fv h1 {
    font-size: 2rem;
  }

  main .fv .name {
    font-size: 1.5rem;
  }

  /* スキル */

  main .skill .box {
    width: calc(100% / 3);
  }
  
}

@media screen and (max-width:640px) {

  /* -------- 共通項 -------- */

  body {
    font-size: 0.875rem;
  }

  img {
    height: auto;
  }

  h2 {
    margin-bottom: 5%;
    width: 40%;
    font-size: 2.5rem;
  }

  .animation,
  .animation_2,
  .animation-left,
  .animation-left2,
  .animation-right,
  .animation-right2 {
      opacity: 1;
      /* 表示させる */
      transform: translate(0, 0);
      /* 位置を最初の位置に戻す */
  }

  /* -------- ヘッダー -------- */

  header {
    width: 100%;
    background-color: #f3f3f3;
  }

  header ul {
    justify-content: space-around;
  }

  header ul li {
    width: 20%;
  }

  header ul li a {
    font-size: 0.75rem;
  }

  /* ファーストビュー */

  main .fv {
    background-image: url(../images/fv2sp.png);
  }

  main .fv h1 {
    height: 9vh;
    top: 45%;
    font-size: 4.5rem;
  }

  main .fv .name {
    top: 58%;
    font-size: 2.5rem;
  }

  /* アバウト */

  main .about .profile {
    flex-direction: column;
    margin-top: 10%;
  }

  main .about .profile .guide {
    width: 100%;
    margin-bottom: 5%;
  }

  main .about .profile .name{
    font-size: 1.4rem;
    text-align: center;
  }

  
  main .about .profile .text {
    font-size: 0.75rem;
    text-align: center;
  }

  main .about .profile .photo {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
  }

    main .about .profile .photo img {
    width: 80%;
  }

  main .section-wrapper::after {
    background-image: url(../images/kirikaesp.png);
  }

  /* スキル */

  main .skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .skill h3 {
    font-size: 0.65rem;
  }

  main .skill .box {
    margin-bottom: 5%;
    width: 30%;
  }

  main .skill .box:first-of-type {
    margin-left: -1%;
  }


  /* ワークス */

  main .works {
    padding-top: 30%;
  }

  main .works h3 {
    font-size: 1.5rem;
    margin-top: 5%;
  }

  main .works .sns {
    padding-bottom: 10%;
  }

  main .works .sns p {
    font-size: 0.75rem;
  }

  main .works h4 {
    width: 50%;
    padding: 0;
  }

  main .works .explanation {
    display: block;
    width: auto;
  }

  main .works .explanation .title {
    margin-bottom: 6%;
    width: auto;
    margin-left: 0;
  }

  main .works .explanation .title p {
    font-size: 0.85rem;
    padding-bottom: 8%
  }

  main .works .explanation .mockup {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
  }

  main .works .cam::after  {
    background-image: url(../images/kirikaesp2.png);
    height: 100px;
  }

  main .works .fd::after {
    background-image: url(../images/kirikaesp.png);
    height: 100px; 
  }

  main .works .video::after {
    background-image: url(../images/kirikaesp2.png);
    height: 100px; 
  }

  main .works ul {
    gap: 0;
    padding-bottom: 0;
  }

  main .works ul li {
    width: calc(90% / 2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  main .works ul li img {
    transition: none;
  }

  main .works ul li img:hover {
    opacity: 1;
    transform: scale(1);
  }

  main .works .fd {
    padding-top: 35%;
  }

  main .works .video {
    padding-top: 35%;
  }

  main .works .site {
    padding-top: 35%;    
  }

  main .works .brand li {
    aspect-ratio: 0;
  }
  
  main .works .personal li {
    width: auto;
}

}
